$--colors: (
  'primary': (
    'base': #4f46e5,
  ),
  'success': (
    'base': #059669,
  ),
  'warning': (
    'base': #d97706,
  ),
  'danger': (
    'base': #dc2626,
  ),
  'error': (
    'base': #dc2626,
  ),
  'info': (
    'base': #0ea5e9,
  ),
);

@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: 'es'
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $--colors
);

@use './dark.scss';
